body {
	background: #ccc;
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container {
	width: 1080px;
	height: 1000px;
	margin: 0 auto;
}

a:link, a:active, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: blue;
}

p {
	padding: 0 5px 0 5px;
}

h3 {
	padding: 0 5px 0 5px;
}

#logo {
	height: 100px;
	background: #666;
}

#img-logo {
	box-shadow: 5px 5px black;
}

#menu-superior ul {
	list-style: none;
	float: right;
	margin-top: -60px;
	display: block;
}

#menu-superior ul li {
	font-size: 1.5em;
	float: left;
	padding: 10px;
	margin-right: 50px;
	margin-bottom: 10px;
}

#menu-superior ul li a {
	text-decoration: none;
	color: #fff;
	padding: 0 5px 0 5px;
}

#menu-superior ul li a:hover {
	background: #44d9e6;
	color: black;
}

#conteudo {
	width: 815px;
	margin-left: 260px;
	display: block;
}

#conteudo#item {
	width: 900px;
}

#coluna-um, 
#coluna-dois, 
#coluna-tres {
	float: left;
	width: 200px;
	text-align: justify;
	box-shadow: 3px 3px 5px black;
	padding: 5px;
	background-color: #fff;

}

#coluna-um {
	margin-left: 40px;
	margin-right: 40px;
}

#coluna-dois {
	margin-left: 10px;
	margin-right: 50px;
}

#item h2 {
	font-size: 1.2em;
	background-color: #666;
	color: white;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 10px; 
}

#item2 h2 {
	font-size: 1.2em;
	background-color: #666;
	color: white;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 270px;
	padding-left: 10px;
}

#videos h2 {
	font-size: 1.2em;
	background-color: #666;
	color: white;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 270px;
	padding-left: 10px;
}

#item img {
	border: 1px solid black;
	height: 110px;
	border-radius: 5px;
}

#item2 img {
	border: 1px solid black;
	height: 110px;
	border-radius: 5px;
}

#menu-lateral {
	width: 250px;
	float: left;
	border: 2px solid black;
	background-color: #fff;
	margin-top: 150px;
}

#menu-lateral h2 {
	width: 225px;
	margin-top: 10px;
	margin-left: 8px;
	font-size: 1.2em;
	background-color: #666;
	color: white;
	padding-left: 10px;
}

#menu-lateral img {
	margin-left: 20px;
	margin-bottom: 40px;
	border-radius: 10px;
}

#menu-lateral p {
	width: 120px;
	margin-top: 0px;
	float: right;
	margin-bottom: 15px;
}

footer {
	clear: both;
	width: 1080px;
	text-align: center;
	margin-top: 20px;
	background-color: #666;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer a {
	padding: 10px;
}
